#DAY-6
- introduction about ML(machine learing)
  - for Data Analysis
  - Numpy
  - Pandas
  - Matplotlib
  - Seaborn
 - Types of ML
  - supervised learning
   - classification
    - SVM (Support Vector Machines)
    - Naive based
    - K-nearest neighbours(KNN)
    - Random Forest
    - Decission Tree
   - Regression
    - Linear Regression
    - Polynomial
    - Logistics
    - Decission Tree
  - Unsupervised learning
   - Clustering
    - KNN
    - K-medians
    - SOM
    - Hirachical
  - Reinforcement learing
- framework-Django
  - develop basic application
     project creation:
       django admin 
- heroku
  - deploying our project into server
      - without DB
      - with DB(progress SQL)

### T-shirt size prediction

In [4]:
import pandas as pd
data=pd.read_csv('samp.csv')
print(data)

    Height  Weigth  Size
0      158    58.0     M
1      156    56.0     M
2      180   120.0   XXL
3      158    63.0     M
4      160    70.0    XL
5      183    57.0     L
6      163    60.0     M
7      192   150.0  XXXl
8      165    62.0     L
9      165    63.0     L
10     168    66.0     L
11     150    42.0     S
12     155     NaN     S
13     142    40.0     S
14     158    58.0     M
15     156    56.0     M
16     180   120.0   XXL
17     158    63.0     M
18     160    70.0    XL
19     183    57.0     L
20     163    60.0     M
21     192   150.0  XXXl
22     165     NaN     L
23     165    63.0     L
24     168    66.0     L
25     150    42.0     S
26     155    48.0     S
27     142    40.0     S

### Data pre-processing

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  28 non-null     int64
 1   Weigth  26 non-null     float64
 2   Size    28 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 800.0+ bytes

In [7]:
data.isnull().sum()

Height    0
Weigth    2
Size      0
dtype: int64

In [17]:
mean=data['Weigth'].mean()
print(mean)
#data.fillna(mean)
data.bfill()

69.23076923076923

    Height  Weigth  Size
0      158    58.0     M
1      156    56.0     M
2      180   120.0   XXL
3      158    63.0     M
4      160    70.0    XL
5      183    57.0     L
6      163    60.0     M
7      192   150.0  XXXl
8      165    62.0     L
9      165    63.0     L
10     168    66.0     L
11     150    42.0     S
13     142    40.0     S
14     158    58.0     M
15     156    56.0     M
16     180   120.0   XXL
17     158    63.0     M
18     160    70.0    XL
19     183    57.0     L
20     163    60.0     M
21     192   150.0  XXXl
23     165    63.0     L
24     168    66.0     L
25     150    42.0     S
26     155    48.0     S
27     142    40.0     S

In [18]:
# less null values 
data=data.dropna()
data

    Height  Weigth  Size
0      158    58.0     M
1      156    56.0     M
2      180   120.0   XXL
3      158    63.0     M
4      160    70.0    XL
5      183    57.0     L
6      163    60.0     M
7      192   150.0  XXXl
8      165    62.0     L
9      165    63.0     L
10     168    66.0     L
11     150    42.0     S
13     142    40.0     S
14     158    58.0     M
15     156    56.0     M
16     180   120.0   XXL
17     158    63.0     M
18     160    70.0    XL
19     183    57.0     L
20     163    60.0     M
21     192   150.0  XXXl
23     165    63.0     L
24     168    66.0     L
25     150    42.0     S
26     155    48.0     S
27     142    40.0     S

In [41]:
data.isnull().sum()

Height    0
Weigth    0
Size      0
dtype: int64

In [27]:
#x=Input values(Features)/independent
#y=Output values(Target)/dependent
x=data[['Weigth','Height']]
y=data['Size']
#print(y)
from sklearn.preprocessing import LabelEncoder
y_label=LabelEncoder()
Y=y_label.fit_transform(y)
#print(Y)

[1 1 4 1 3 0 1 5 0 0 0 2 2 1 1 4 1 3 0 1 5 0 0 2 2 2]

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
x_train,x_test,y_train,y_test=train_test_split(x,Y,test_size=0.3,random_state=3)
print(x_train,x_test,y_train,y_test)

    Weigth  Height
1     56.0     156
24    66.0     168
15    56.0     156
4     70.0     160
23    63.0     165
6     60.0     163
7    150.0     192
5     57.0     183
21   150.0     192
9     63.0     165
11    42.0     150
27    40.0     142
20    60.0     163
0     58.0     158
8     62.0     165
3     63.0     158
26    48.0     155
10    66.0     168     Weigth  Height
19    57.0     183
18    70.0     160
13    40.0     142
25    42.0     150
16   120.0     180
17    63.0     158
14    58.0     158
2    120.0     180 [1 0 1 3 0 1 5 0 5 0 2 2 1 1 0 1 2 0] [0 3 2 2 4 1 1 4]

In [34]:
print(x_test)

    Weigth  Height
19    57.0     183
18    70.0     160
13    40.0     142
25    42.0     150
16   120.0     180
17    63.0     158
14    58.0     158
2    120.0     180

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
print(knn.predict(x_test))

[0 0 2 2 0 1 1 0]

In [37]:
print(x_test)

    Weigth  Height
19    57.0     183
18    70.0     160
13    40.0     142
25    42.0     150
16   120.0     180
17    63.0     158
14    58.0     158
2    120.0     180

In [40]:
knn.predict([[40,142]])

array([2])

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,knn.predict(x_test)))